.form {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.cola-cliente {
  border: 1px solid;
  padding: 4px;
  margin-bottom: 4px;
}


.cola {
  display: flex;
  align-items: center;
}
.span{
  margin-right: 4px;
}
